<section class="navigation">
    <nav>
        <div class="arrow-prev-floating">
            <div class="arrow prev"></div>
        </div>
        <div class="arrow-next-floating">
            <div class="arrow next"></div>
        </div>
    </nav>
    <div class="circle-menu">
        <div class="circle c1">
            <div class="arc arc1">
                <ul>
                    <li class="step-important sp1"></li>
                    <li class="step-important sp2"></li>
                    <li class="step-important sp3"></li>
                </ul>
            </div>
        </div>
        <div class="circle c2">
            <div class="arc arc2">
                <ul>
                    <li class="step-important sp1"></li>
                    <li class="step-question sp2">+</li>
                    <li class="step-important sp3"></li>
                    <li class="step-question sp4">+</li>
                </ul>
            </div>
        </div>
        <div class="circle c3">
            <div class="arc arc3">
                <ul>
                    <li class="step-question sp1">+</li>
                    <li class="step-important sp2"></li>
                    <li class="step-question sp3">+</li>
                    <li class="step-question sp4">+</li>
                    <li class="step-important sp5"></li>
                </ul>
            </div>
        </div>
        <div class="circle c4">
            <div class="arc arc4">
                <ul>
                    <li class="step-question sp1">+</li>
                    <li class="step-important sp2"></li>
                    <li class="step-question sp3">+</li>
                    <li class="step-question sp4">+</li>
                    <li class="step-important sp5"></li>
                    <li class="step-question sp6">+</li>
                    <li class="step-question sp7">+</li>
                </ul>
            </div>
        </div>
        <div class="circle infos">
            <div class="content">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                    <circle stroke-width="0.5" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
                    <polygon stroke-width="0.8" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64"></polygon>
                </svg>
                <div class="step"></div>
                <h3></h3>
                <div class="separator"></div>
                <h4></h4>
            </div>
        </div>
    </div>
</section>
