<section class="timeline">

    <div class="container c1">
        <div class="step">
            <div class="name">Stade <span class="number">1</span></div>
            <div class="bullet"></div>
            <div class="description">Aucune déficience</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>
    <div class="container c2">
        <div class="step">
            <div class="name">Stade <span class="number">2</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif très léger</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>
    <div class="container c3">
        <div class="step">
            <div class="name">Stade <span class="number">3</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif léger</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>

    <div class="container c4">
        <div class="step">
            <div class="name">Stade <span class="number">4</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif modéré</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>
    <div class="container c5">
        <div class="step">
            <div class="name">Stade <span class="number">5</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif peu sévère</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>
    <div class="container c6">
        <div class="step">
            <div class="name">Stade <span class="number">6</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif sévère</div>
        </div>
        <div class="line"></div>
        <div class="line-progress"></div>
    </div>
    <div class="container c7">
        <div class="step">
            <div class="name">Stade <span class="number">7</span></div>
            <div class="bullet"></div>
            <div class="description">Déficit cognitif très sévère</div>
        </div>
    </div>

</section>
