.experience-device {

    .content-centered {
        //@include size(60vw, 50vh); // 60vw, 500px
        @include size(120vh, 50vh); // 60vw, 500px
        @include absolute(top 50% right 50%);
        //margin: -20vh -30vw 0 0; // -250px -30vw 0 0
        margin: -20vh -60vh 0 0; // -250px -30vw 0 0
        text-align: center;
    }

    .mobile {
        @include size(50vh);
        position: absolute;

        svg {
            @include size(50vh);
            position: relative;
            fill: none;
            stroke: $color-white-10;
        }

        aside {
            position: absolute;
            top: 6vh;
            right: 50%;
            margin: 0 -10vh 0 0;

            .qrcode {
                @include size(20vh);
                animation: fadein 3s ease-out 2s both;

                img {
                    @include size(20vh);
                }
            }

            .separator {
                width: 15vh;
                margin: 4vh 0 1vh 2.5vh;
                border-top: 1px solid $color-white-10;
            }

            .code {
                color: $color-white-10;
                font: 6vh $font-antonio-regular; // 60px
                text-transform: uppercase;
            }
        }
    }

    .box {
        width: 70vh;
        position: absolute;
        margin: 3vh 0 0 50vh;

        h1 {
            margin: 1vh 0 2vh; // 10px
            color: $color-white-10;
            font: 6vh $font-antonio-regular;
            text-transform: uppercase;

            .top {
                margin: 0 0 -1.8vh 0; // -20px
                display: block;
            }
        }

        .text-flash,
        .text-link {
            font: 2vh $font-lato-regular;
        }

        .text-flash {
            margin: 0 0 3vh 0;
        }

        .text-link {
            margin: 0 0 1vh 0;
        }

        .link-url {
            width: 70%;
            margin: 0 auto;
            padding: 0.5vh 0;
            font: 3vh $font-lato-regular;
            border: 1px solid $color-white-10;
        }
    }
}
