.experience-home {

    .navigation {
        @include size(65vw, 64vh);
        @include relative(top 18vh left 50%);
        margin: 0 0 0 -32.5vw;

        .circle {
            @include size(64vh);
            @include absolute(top 0 right 50%);
            margin: 0 -32vh 0 0;
            @include border-radius(50%);
            border: 2px dashed $color-white-01;
            transition: all .6s ease-out;
            cursor: pointer;

            &:hover {
                border: 2px dashed $color-white-10;
            }

            .arc {
                @include absolute(top -3px right 50% left -3px bottom 50%);
                transform-origin: 100% 100%;
                overflow: hidden;
                z-index: 10;

                &.a1 {
                    transform: rotate(0deg) skewX(0deg);
                }

                &.a2 {
                    transform: rotate(90deg) skewX(0deg);
                }

                &:before {
                    content: '';
                    @include size(200%);
                    @include border-radius(50%);
                    border: 4px solid red;
                    display: block;
                }
            }

            &.c2 {
                @include absolute(top 5vh right 50%);
                @include size(54vh);
                margin: 0 -27vh 0 0;

                .arc {
                    transform: rotate(0deg) skewX(0deg);

                    &:before {
                        transform: skewX(-0deg);
                    }
                }
            }

            &.c3 {
                @include absolute(top 8.5vh right 50%);
                @include size(47vh);
                margin: 0 -23.5vh 0 0;

                .arc {
                    transform: rotate(0deg) skewX(0deg);

                    &:before {
                        transform: skewX(-0deg);
                    }
                }
            }

            &.c4 {
                @include absolute(top 13.5vh right 50%);
                @include size(37vh);
                margin: 0 -18.5vh 0 0;

                .arc {
                    transform: rotate(0deg) skewX(0deg);

                    &:before {
                        transform: skewX(-0deg);
                    }
                }
            }

            /*&.inner-circle-selected {
                //border: 2px solid #525353;
                z-index: 2;
            }*/
        }

        .arrow {
            @include size(4vh);
            @include absolute(top 50%);
            margin: -2vh 0 0 0;
            background: transparent;
            border-top: 1px solid $color-white-10;
            border-left: 1px solid $color-white-10;
            transition: all .3s ease-in-out;
            cursor: pointer;
            display: inline-block;

            &:hover {
                border-width: 3px;
            }

            &.prev {
                transform: rotate(-45deg);
                left: 0vw;
            }

            &.next {
                transform: rotate(135deg);
                right: 0vw;
            }
        }
    }


    .step-infos {
        @include absolute(bottom 10vh left 7vh);
        text-transform: uppercase;
        overflow: hidden;

        h3 {
            font: 5vh $font-antonio-light; // 48px
            margin: 0 0 -1vh 0; // 0 0 -10px 0

            .number {
                font: 5vh $font-antonio-bold; // 48px
            }

            &.s1 {
                color: $alzheimer-step1-10;
            }

            &.s2 {
                color: $alzheimer-step2-10;
            }

            &.s3 {
                color: $alzheimer-step3-10;
            }

            &.s4 {
                color: $alzheimer-step4-10;
            }

            &.s5 {
                color: $alzheimer-step5-10;
            }

            &.s6 {
                color: $alzheimer-step6-10;
            }

            .s7 {
                color: $alzheimer-step7-10;
            }
        }

        p {
            font: 1.3vh $font-lato-light; // 14px
        }
    }


    .timeline {
        width: 61vw;
        @include absolute(bottom 12vh right 50%);
        margin: 0 -30vw 0 0;
        display: flex;

        .container {
            @include size(10vw, 15vh);
            position: relative;
            display: flex;

            &.c7 {
                width: 1vw;
            }

            .line {
                width: 9vw;
                @include absolute(bottom 0.5vw left 1vw);
                border-top: 1px solid $color-white-10;
            }

            .step {
                &:hover {
                    .name {
                        display: block;
                    }

                    .bullet {
                        background: $color-white-10;
                    }
                }
            }

            .bullet {
                @include size(1vw);
                @include absolute(bottom 0);
                @include border-radius(50%);
                box-sizing: border-box;
                border: 2px solid $color-white-10;
                display: block;
                cursor: pointer;
                z-index: 2;

                &.active {
                    background: $color-white-10;
                }
            }

            .name {
                @include size(10vw, 10vh);
                @include absolute(left -4.5vw);
                @include border-radius(0.5vh);
                border: 1px solid $color-white-10;
                background: $color-white-10;
                display: none;

                &:after {
                    content: '';
                    @include size(1.4vh);
                    @include absolute(bottom -0.9vh left 50%);
                    margin: 0 0 0 -0.7vh;
                    transform: rotate(-45deg);
                    border-bottom: 1px solid $color-white-10;
                    border-left: 1px solid $color-white-10;
                    background-color: $color-white-10;
                }
            }
        }
    }

    .notification {
        @include absolute(bottom 10vh right 10vw);
        margin: 0 -2.25vh 0 0;

        svg {
            @include size(4.5vh);
            stroke: $color-white-10;
        }
    }
}