.experience-statistics {

    h1 {
        margin: 20vh 0 1vh;
        color: $color-white-10;
        font: 6vh $font-antonio-regular;
        text-transform: uppercase;
        text-align: center;

        .top {
            margin: 0 0 -1.8vh 0;
            display: block;
        }
    }

    .timeline {
        width: 60vw;
        @include absolute(bottom 25vh right 50%);
        margin: 0 -30vw 0 0;
        display: flex;

        .container {
            @include size(10vw, 6vh);
            position: relative;
            display: flex;

            &.c10 {
                width: 1vw;
            }

            .line {
                width: 5.8vw;
                @include absolute(bottom 0.4vw left 0.8vw);
                border-top: 1px solid $color-white-03;
            }

            .step {
                header,
                footer {
                    width: 30vw;
                    animation: fadein 1.5s linear both .3s;

                    p {
                        font: 1.6vh $font-lato-light;
                    }

                    &.hidden {
                        display: none;
                    }
                }

                header {
                    height: 10vw;
                    @include relative(top -8.5vw left -14.6vw);

                    .info-left,
                    .info-right {
                        @include size(10vw, 8vw);
                        //background: green;
                        line-height: 8vw;
                        text-align: center;

                        /*.number {
                            margin: 0.5vh 0;
                            font: 3.5vh $font-anglecia-regular;
                        }*/

                        .number {
                            font-family: $font-anglecia-regular;
                            font-weight: bold;
                        }

                        p {
                            width: 10vw;
                            vertical-align: middle;
                            display: inline-block;
                            line-height: 1.2;
                        }
                    }

                    .info-left {
                        @include absolute(top 0 left 0);

                        p {
                            text-align: right;
                        }
                    }

                    .info-right {
                        @include absolute(top 0 right 0);

                        p {
                            text-align: left;
                        }
                    }

                    .image {
                        @include size(8vw);
                        @include absolute(top 0 left 50%);
                        margin: 0 0 0 -4vw;
                        @include border-radius(50%);
                        border: 0.3vh solid $color-red-10;

                        &.healthy-eating {
                            background: url('../img/statistics/healthy-eating.jpg') center center;
                            background-size: cover;
                        }

                        &.malnutrition {
                            background: url('../img/statistics/malnutrition.jpg') center center;
                            background-size: cover;
                        }

                        &.sloth {
                            background: url('../img/statistics/sloth.jpg') center center;
                            background-size: cover;
                        }

                        &.sport {
                            background: url('../img/statistics/sport.jpg') center center;
                            background-size: cover;
                        }

                        &.socially-active {
                            background: url('../img/statistics/socially-active.jpg') center center;
                            background-size: cover;
                        }

                        &.loneliness {
                            background: url('../img/statistics/loneliness.jpg') center center;
                            background-size: cover;
                        }

                        &.right-moves {
                            background: url('../img/statistics/right-moves.jpg') center center;
                            background-size: cover;
                        }

                        &.cigarette {
                            background: url('../img/statistics/cigarette.jpg') center center;
                            background-size: cover;
                        }

                        &.stress {
                            background: url('../img/statistics/stress.jpg') center center;
                            background-size: cover;
                        }

                        &.socio-type {
                            background: url('../img/statistics/socio-type.jpg') center center;
                            background-size: cover;
                        }
                    }
                }

                footer {
                    @include absolute(top 9vh left -14.6vw);
                    text-align: center;

                    h3 {
                        font: 2.5vh $font-antonio-regular;
                        color: $color-red-10;
                        text-transform: uppercase;
                    }
                }

                .bullet {
                    @include size(0.8vw);
                    @include absolute(bottom 0);
                    @include border-radius(50%);
                    box-sizing: border-box;
                    border: 2px solid $color-white-03;
                    display: block;
                    cursor: pointer;
                    z-index: 2;
                    transition: border-color 1s linear;

                    &:hover {
                        border-color: $color-white-10;
                    }

                    &.active {
                        border-color: $color-red-10;
                        background: $color-red-03;

                        &:before,
                        &:after {
                            content: '';
                            @include size(2vw);
                            @include absolute(top 50% left 50%);
                            @include border-radius(50%);
                            margin: -1vw 0 0 -1vw;
                            opacity: 0;
                            pointer-events: none;
                            box-shadow: 0 0 0 2px $color-red-10;
                        }

                        &:before {
                            animation: timeline-active-1 10s forwards infinite;
                        }

                        &:after {
                            animation: timeline-active-2 10s forwards infinite;
                        }
                    }
                }
            }
        }
    }
}