.mobile-experience {

    .alzheimer-home {

        .brain {
            @include size(100vw, 100vh);
            @include absolute(top 10vh);
        }

        .step-infos {
            width: 50vw;
            @include absolute(bottom 6vh left 50%);
            margin: 0 0 0 -25vw;
            text-align: center;
            text-transform: uppercase;

            &.hide {
                display: none;
            }

            h3 {
                font: 7vh $font-antonio-light; // 48px
                margin: 0; // 0 0 -10px 0

                .number {
                    font: 7vh $font-antonio-bold; // 48px
                }

                &.s1 {
                    color: $alzheimer-step1-10;
                    text-shadow: 0 0 4px $alzheimer-step1-05;
                }

                &.s2 {
                    color: $alzheimer-step2-10;
                    text-shadow: 0 0 4px $alzheimer-step2-05;
                }

                &.s3 {
                    color: $alzheimer-step3-10;
                    text-shadow: 0 0 4px $alzheimer-step3-05;
                }

                &.s4 {
                    color: $alzheimer-step4-10;
                    text-shadow: 0 0 4px $alzheimer-step4-10;
                }

                &.s5 {
                    color: $alzheimer-step5-10;
                    text-shadow: 0 0 4px $alzheimer-step5-05;
                }

                &.s6 {
                    color: $alzheimer-step6-10;
                    text-shadow: 0 0 4px $alzheimer-step6-05;
                }

                &.s7 {
                    color: $alzheimer-step7-10;
                    text-shadow: 0 0 4px $alzheimer-step7-05;
                }
            }

            p {
                font: 2.3vh $font-lato-light; // 14px
                text-shadow: 0 0 5px $color-white-05;
            }
        }

        .notification-question {
            @include absolute(bottom 18vh left 50%);
            margin: 0 0 0 -6vh;

            &.hide {
                display: none;
            }

            &:before,
            &:after {
                content: '';
                @include size(12vh);
                @include absolute(top 50% left 50%);
                @include border-radius(50%);
                box-shadow: 0 0 0.1vh 0.1vh $color-red-10, inset 0 0 0.1vh 0.1vh $color-red-10;
                opacity: 0;
                animation-name: notification-effect-1, notification-effect-2;
                animation-duration: 1.8s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
            }

            &:after {
                animation-delay: 0.6s;
            }

            .text {
                @include size(12vh);
                @include absolute(top 0vh);
                text-align: center;
                font: 8vh $font-lato-regular;
            }
        }
    }

    .alzheimer-questions {
        @include size(100vw, 100vh);
        @include absolute(top 0);
        animation: question-hide .5s ease-out both;

        &.show{
            animation: question-show .5s ease-out both;
        }

        .bg-question {
            @include size(auto);
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            z-index: 800;
            background: url('../img/bg/mobile-main.png') no-repeat center center fixed;
            background-size: cover;
        }

        .content {
            @include size(100vw, 100vh);
            @include relative(top 0);
            z-index: 900;

            .text-svg {
                @include size(16vh);
                @include absolute(top 5vh left 50%);
                margin: 0 0 0 -8vh;
                font: 10vh $font-lato-regular;
                text-align: center;
                line-height: 16vh;
                z-index: 50;
            }

            svg {
                @include size(16vh);
                @include relative(top 5vh left 50%);
                margin: 0 0 0 -8vh;
                fill: none;
                stroke: $color-red-10;
                animation: rotation 30s linear infinite;

                polygon {
                    fill: $color-darkblue-03;
                    stroke: $color-red-10;
                }
            }

            .question {
                @include size (90vw, auto);
                @include relative(top 10vh);
                margin: 0 auto;

                h3 {
                    font: 6vh $font-antonio-regular;
                    line-height: 8vh;
                    text-align: center;
                    text-transform: uppercase;
                }

                .answers {
                    margin: 5vh 0 0;

                    label {
                        font: 4vh $font-lato-light;
                        line-height: 13vh;
                        display: block;
                    }

                    input[type="radio"] {
                        display:none;
                    }
                    input[type="radio"] + label span {
                        @include size(3vh);
                        @include border-radius(50%);
                        margin: 0 3.5vw 0 0;
                        vertical-align: middle;
                        display:inline-block;
                    }

                    input[type="radio"] + label span {
                        border: 2px solid $color-red-10;
                    }

                    input[type="radio"]:checked + label span {
                        background: $color-red-10;
                    }

                    input[type="radio"] + label span,
                    input[type="radio"]:checked + label span {
                        transition: background 0.4s linear;
                    }
                }
            }

            .timer {
                @include absolute(bottom 0 left 0);

                .time {
                    @include size(100vw, 10vh);
                    font: 4vh $font-lato-light;
                    color: $color-red-10;
                    text-align: center;
                    line-height: 10vh;
                }

                .progress-bar {
                    @include size(0vw, 0.6vh); // 60vw, 7px
                    background: $color-red-10;
                    transition: width 1s linear;
                }
            }
        }
    }
}
