.mobile-experience {

    .alzheimer-home {

        .brain {
            @include size(100vw, 100vh);
            @include absolute(top 10vh);
        }

        .step-infos {
            width: 50vw;
            @include absolute(bottom 10vh left 50%);
            margin: 0 0 0 -25vw;
            text-align: center;
            text-transform: uppercase;

            &.hide {
                display: none;
            }

            h3 {
                font: 7vh $font-antonio-light; // 48px
                margin: 0; // 0 0 -10px 0

                .number {
                    font: 7vh $font-antonio-bold; // 48px
                }

                &.s1 {
                    color: $alzheimer-step1-10;
                    text-shadow: 0 0 4px $alzheimer-step1-05;
                }

                &.s2 {
                    color: $alzheimer-step2-10;
                    text-shadow: 0 0 4px $alzheimer-step2-05;
                }

                &.s3 {
                    color: $alzheimer-step3-10;
                    text-shadow: 0 0 4px $alzheimer-step3-05;
                }

                &.s4 {
                    color: $alzheimer-step4-10;
                    text-shadow: 0 0 4px $alzheimer-step4-10;
                }

                &.s5 {
                    color: $alzheimer-step5-10;
                    text-shadow: 0 0 4px $alzheimer-step5-05;
                }

                &.s6 {
                    color: $alzheimer-step6-10;
                    text-shadow: 0 0 4px $alzheimer-step6-05;
                }

                .s7 {
                    color: $alzheimer-step7-10;
                    text-shadow: 0 0 4px $alzheimer-step7-05;
                }
            }

            p {
                font: 2.3vh $font-lato-light; // 14px
                text-shadow: 0 0 5px $color-white-05;
            }
        }

        .notification-question {
            @include absolute(bottom 18vh left 50%);
            margin: 0 0 0 -6vh;

            &.hide {
                display: none;
            }

            &:before,
            &:after {
                content: '';
                @include size(12vh);
                @include absolute(top 50% left 50%);
                @include border-radius(50%);
                box-shadow: 0 0 0.1vh 0.1vh $color-red-10, inset 0 0 0.1vh 0.1vh $color-red-10;
                opacity: 0;
                animation-name: notification-effect-1, notification-effect-2;
                animation-duration: 1.8s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
            }

            &:after {
                animation-delay: 0.6s;
            }

            .text {
                @include size(12vh);
                @include absolute(top 0vh);
                text-align: center;
                font: 8vh $font-lato-regular;
            }
        }
    }
}
