@font-face {
    font-family: 'anglecia_pro_display_regular';
    src: url('../fonts/anglecia_pro_display_regular-webfont.eot');
    src: url('../fonts/anglecia_pro_display_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/anglecia_pro_display_regular-webfont.woff') format('woff'),
    url('../fonts/anglecia_pro_display_regular-webfont.ttf') format('truetype'),
    url('../fonts/anglecia_pro_display_regular-webfont.svg#otama.epregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
