<header>
    <nav class="nav-arrow">
        <div class="arrow-prev-floating">
            <div class="arrow prev"></div>
        </div>
        <div class="arrow-next-floating">
            <div class="arrow next"></div>
        </div>
    </nav>
    <svg class="circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <circle stroke-width="0.3" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
        <polygon stroke-width="0.4" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64"></polygon>
    </svg>
    <img class="logo" src="assets/img/about/france-alzheimer.png" />
    <div class="slider">
        <div class="slide1">
            <h1><span class="top">- Association -</span> France Alzheimer</h1>
        </div>
        <div class="slide2 hide">
            <p>Plus d'informations sur</p>
            <a target="_blank" href="http://francealzheimer.org">http://francealzheimer.org</a>
        </div>
    </div>
    <div class="separator"></div>
</header>
<section class="content">
    <p>Pour faire évoluer l’image de la maladie,
        France Alzheimer mène depuis plusieurs
        années des campagnes de sensibilisation
        auprès du grand public.<br /><br />
        Nos campagnes ont participé aux efforts
        de communication entrepris ces dernières
        années pour améliorer la connaissance du
        public face au fléau que représente la
        maladie d’Alzheimer.</p>
</section>
