<section class="code">
    <h3><span class="top">- Remind Me -</span> Saisissez votre code</h3>
    <input class="codeExperience" type="text" maxlength="4"/>
    <div class="btnSendCode">Valider le code</div>
</section>
