<section class="alzheimer-home">
    <div class="brain"></div>
    <div class="step-infos">
        <h3></h3>
        <p></p>
    </div>
    <div class="notification-question hide">
        <div class="text">?</div>
    </div>
</section>
<section class="alzheimer-questions">
    <div class="bg-question"></div>
    <div class="content">
        <div class="text-svg">?</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
            <circle stroke-width="0.5" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
            <polygon stroke-width="0.6" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64 "></polygon>
        </svg>
        <section class="question">
            <h3></h3>
            <div class="answers"></div>
        </section>
        <section class="timer">
            <div class="time"></div>
            <div class="progress-bar"></div>
        </section>
    </div>
</section>
