<section class="alzheimer-home">
    <div class="brain"></div>
    <div class="step-infos">
        <h3 class="s4">- Stade <span class="number">4</span> -</h3>
        <p>Déficit cognitif modéré</p>
    </div>
</section>
<section class="alzheimer-questions">

</section>
