<section class="alzheimer-home">
    <div class="brain"></div>
    <div class="step-infos hide">
        <h3 class="s4">- Stade <span class="number">4</span> -</h3>
        <p>Déficit cognitif modéré</p>
    </div>
    <div class="notification-question">
        <div class="text">?</div>
    </div>
</section>
<section class="alzheimer-questions">
    <div class="bg-question"></div>
    <div class="content">
        <div class="text-svg">?</div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
            <circle stroke-width="0.3" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
            <polygon stroke-width="0.4" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64"></polygon>
        </svg>
        <section class="question">
            <h3>Rien au programme... Quelle activité pratiquer ?</h3>
            <div class="answers">
                <input type="radio" id="answer1" name="answer" />
                <label for="answer1"><span></span>Regarder la télévision</label>
                <input type="radio" id="answer2" name="answer" />
                <label for="answer2"><span></span>Faire un running entre amis</label>
                <input type="radio" id="answer3" name="answer" />
                <label for="answer3"><span></span>Lire un livre</label>
            </div>
        </section>
        <section class="timer">
            <div class="time">00 : 56</div>
            <div class="progress-bar"></div>
        </section>
    </div>
</section>
