<section class="tutorial">
    <a class="skip" href="#">Quitter</a>
    <div class="slide1">
        <h3><span class="top">- Remind Me -</span> Préparez-vous à agir</h3>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                <path class="phone-border" d="M87.4,1.8H40.6c-6.6,0-12,5.4-12,12v100.5c0,6.6,5.4,12,12,12h46.9c6.6,0,12-5.4,12-12V13.8C99.4,7.2,94,1.8,87.4,1.8z
    M91.8,100.9H36.2V10h55.6V100.9z M64,119c-2.9,0-5.3-2.3-5.3-5.3s2.3-5.3,5.3-5.3s5.3,2.3,5.3,5.3S66.9,119,64,119z"></path>
                <path d="M36.1,9.9V101h55.8V9.9H36.1z M91.8,100.9H36.2V10h55.6V100.9z"></path>
            </svg>
        </div>
        <p>À l'apparition de cette icône...</p>
    </div>
    <div class="slide2 hide">
        <h3><span class="top">- Remind Me -</span> Interagir avec l'expérience</h3>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                <g>
                    <g>
                        <path stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" d="M37.8,110.9H5.1
			c-2.2,0-3.9-1.8-3.9-3.9V39.7c0-2.2,1.8-3.9,3.9-3.9h32.7c2.2,0,3.9,1.8,3.9,3.9v67C41.6,109.1,40,110.9,37.8,110.9z"></path>
                        <rect x="4" y="39.9" stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" width="34.9" height="58.8"></rect>
                        <circle stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" cx="21.4" cy="104.4" r="2.4"></circle>
                        <path stroke-width="0.5" stroke-miterlimit="10" d="M26.1,29.3v-6.7c0-2.9,2.4-5.5,5.5-5.5h89.6
			c2.9,0,5.5,2.4,5.5,5.5v56.1c0,2.9-2.4,5.5-5.5,5.5H48.4"></path>
                        <circle stroke-width="0.5" stroke-miterlimit="10" cx="77.1" cy="75.7" r="2.8"></circle>
                        <path stroke-width="0.5" stroke-miterlimit="10" d="M66.3,84.3c0.2,0.6-1.7,11.1-2.2,13.2
			c-0.4,0.9-0.2,2,0.2,2.9l0,0c0.7,1.3,2,2.2,3.7,2.2h17.2c1.5,0,2.9-0.9,3.7-2.2l0.2-0.2c0.4-0.7,0.6-1.7,0.4-2.6l-2.8-13.3"></path>
                        <line stroke-width="0.5" stroke-miterlimit="10" x1="47.4" y1="70.2" x2="126.6" y2="70.2"></line>
                    </g>
                    <g>
                        <path stroke="#CF352D" stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" d="M45.5,26.7
			c4.7-0.3,9.8,1.3,13.6,5.1s5.6,8.7,5.2,13.4"></path>
                        <path stroke="#CF352D" stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" d="M45.5,31.8
			c3.6-0.3,7.2,0.8,10,3.4c2.8,2.8,3.9,6.4,3.7,10"></path>
                        <path stroke="#CF352D" stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" d="M45.7,36.8
			c2.3-0.5,4.6,0.2,6.4,2c1.8,1.7,2.4,4.1,2.1,6.2"></path>
                        <ellipse stroke="#CF352D" stroke-width="0.5" stroke-linecap="round" stroke-miterlimit="10" cx="47.3" cy="43.7" rx="0.8" ry="0.8"></ellipse>
                    </g>
                </g>
            </svg>
        </div>
        <p>Préparez-vous à intéragir avec votre smartphone ou tablette</p>
    </div>
    <div class="slide3 hide">
        <h3><span class="top">- Remind Me -</span> Choisissez votre réponse</h3>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                <g>
                    <g enable-background="new">
                        <path class="letter" d="M92.8,36.5v2.4H92v-5.8h1.6c0.4,0,0.7,0,0.9,0.1c0.3,0.1,0.5,0.2,0.7,0.3c0.2,0.1,0.3,0.3,0.4,0.5
			c0.1,0.2,0.1,0.4,0.1,0.7c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.1-0.4,0.2-0.6,0.2
			c0.1,0.1,0.2,0.1,0.3,0.2l1.7,2.3h-0.7c-0.1,0-0.2-0.1-0.3-0.2l-1.5-2.1c0-0.1-0.1-0.1-0.1-0.1s-0.1,0-0.2,0H92.8z M92.8,36h0.8
			c0.2,0,0.4,0,0.6-0.1c0.2-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.3-0.4C95,35.1,95,35,95,34.8c0-0.3-0.1-0.6-0.3-0.8
			c-0.2-0.2-0.6-0.3-1-0.3h-0.9V36z"></path>
                        <path class="letter" d="M98.7,34.8c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1S99.9,38,100,38c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2s-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1s-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6s0.4-0.3,0.6-0.4
			C98.1,34.8,98.4,34.8,98.7,34.8z M98.7,35.3c-0.3,0-0.6,0.1-0.8,0.3s-0.3,0.5-0.4,0.8h2.2c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4
			s-0.2-0.2-0.3-0.2C99,35.3,98.8,35.3,98.7,35.3z M99.8,33.1l-0.9,1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0h-0.4l0.6-1
			c0-0.1,0.1-0.1,0.1-0.1c0,0,0.1,0,0.2,0H99.8z"></path>
                        <path class="letter" d="M101.3,40.3v-5.5h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.5c0.2-0.2,0.4-0.4,0.6-0.5s0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.4,0.2,0.5,0.4s0.2,0.4,0.3,0.7c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.8c-0.1,0.3-0.2,0.5-0.3,0.7
			c-0.2,0.2-0.3,0.3-0.6,0.4c-0.2,0.1-0.5,0.2-0.7,0.2c-0.3,0-0.5,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.5-0.4v1.8H101.3z M103.1,35.4
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.5,0.5v2c0.1,0.2,0.3,0.3,0.4,0.4c0.2,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.1,0.9-0.4
			s0.3-0.7,0.3-1.2c0-0.3,0-0.5-0.1-0.7c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.1-0.2-0.2-0.3-0.3S103.2,35.4,103.1,35.4z"></path>
                        <path class="letter" d="M107.4,34.8c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.6,0.4c0.2,0.2,0.3,0.4,0.4,0.7s0.1,0.5,0.1,0.9c0,0.3,0,0.6-0.1,0.9
			s-0.2,0.5-0.4,0.7c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.5,0.1-0.8,0.1c-0.3,0-0.6,0-0.8-0.1c-0.2-0.1-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7s-0.1-0.5-0.1-0.9c0-0.3,0-0.6,0.1-0.9s0.2-0.5,0.4-0.7c0.2-0.2,0.4-0.3,0.6-0.4
			C106.8,34.8,107.1,34.8,107.4,34.8z M107.4,38.4c0.4,0,0.7-0.1,0.9-0.4c0.2-0.3,0.3-0.6,0.3-1.1c0-0.5-0.1-0.9-0.3-1.1
			s-0.5-0.4-0.9-0.4c-0.2,0-0.4,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.2,0.3-0.2,0.5s-0.1,0.4-0.1,0.7s0,0.5,0.1,0.6
			c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.2,0.2,0.4,0.3C107,38.4,107.2,38.4,107.4,38.4z"></path>
                        <path class="letter" d="M110.2,38.9v-4.1h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.4c0.2-0.2,0.4-0.4,0.6-0.5c0.2-0.1,0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.3,0.2,0.4,0.3s0.2,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.6v2.6h-0.7v-2.6c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.4-0.3-0.6-0.3
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.4,0.2-0.5,0.4v3H110.2z"></path>
                        <path class="letter" d="M117,35.5c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.4,0
			c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0.1-0.2,0.1s-0.1,0.1-0.2,0.2c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.1,0.1,0.2,0.2
			c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.2,0.2,0.3
			s0.1,0.3,0.1,0.4c0,0.2,0,0.4-0.1,0.5c-0.1,0.2-0.2,0.3-0.3,0.4s-0.3,0.2-0.5,0.3c-0.2,0.1-0.4,0.1-0.7,0.1c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4l0.2-0.3c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
			c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.1s0.1-0.1,0.2-0.2c0-0.1,0.1-0.2,0.1-0.3
			c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.1s-0.3-0.1-0.4-0.1c-0.1,0-0.3-0.1-0.4-0.1
			c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.1-0.1-0.3-0.1-0.4c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.2-0.3,0.3-0.4
			c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.1,0.6-0.1c0.3,0,0.5,0,0.7,0.1s0.4,0.2,0.6,0.3L117,35.5z"></path>
                        <path class="letter" d="M119.8,34.8c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5s0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6
			s0.4-0.3,0.6-0.4C119.2,34.8,119.5,34.8,119.8,34.8z M119.8,35.3c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.4,0.8h2.2
			c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4s-0.2-0.2-0.3-0.2C120.1,35.3,120,35.3,119.8,35.3z"></path>
                        <path class="letter" d="M124.5,38.4h1.2v-3.9c0-0.1,0-0.2,0-0.4l-1,0.9c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0s-0.1,0-0.1-0.1l-0.2-0.3
			l1.7-1.5h0.6v5.2h1.1v0.5h-3.1V38.4z"></path>
                    </g>
                    <g enable-background="new">
                        <path class="letter" d="M92.8,60.3v2.4H92v-5.8h1.6c0.4,0,0.7,0,0.9,0.1c0.3,0.1,0.5,0.2,0.7,0.3c0.2,0.1,0.3,0.3,0.4,0.5
			c0.1,0.2,0.1,0.4,0.1,0.7c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.1-0.4,0.2-0.6,0.2
			c0.1,0.1,0.2,0.1,0.3,0.2l1.7,2.3h-0.7c-0.1,0-0.2-0.1-0.3-0.2l-1.5-2.1c0-0.1-0.1-0.1-0.1-0.1s-0.1,0-0.2,0H92.8z M92.8,59.7h0.8
			c0.2,0,0.4,0,0.6-0.1c0.2-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.3-0.4c0.1-0.1,0.1-0.3,0.1-0.5c0-0.3-0.1-0.6-0.3-0.8
			c-0.2-0.2-0.6-0.3-1-0.3h-0.9V59.7z"></path>
                        <path class="letter" d="M98.7,58.6c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1s0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2s-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1s-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6s0.4-0.3,0.6-0.4
			C98.1,58.6,98.4,58.6,98.7,58.6z M98.7,59.1c-0.3,0-0.6,0.1-0.8,0.3s-0.3,0.5-0.4,0.8h2.2c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4
			s-0.2-0.2-0.3-0.2C99,59.1,98.8,59.1,98.7,59.1z M99.8,56.9l-0.9,1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0h-0.4l0.6-1
			c0-0.1,0.1-0.1,0.1-0.1c0,0,0.1,0,0.2,0H99.8z"></path>
                        <path class="letter" d="M101.3,64.1v-5.5h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.5c0.2-0.2,0.4-0.4,0.6-0.5s0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.4,0.2,0.5,0.4s0.2,0.4,0.3,0.7c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.8c-0.1,0.3-0.2,0.5-0.3,0.7
			c-0.2,0.2-0.3,0.3-0.6,0.4c-0.2,0.1-0.5,0.2-0.7,0.2c-0.3,0-0.5,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.5-0.4v1.8H101.3z M103.1,59.1
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.5,0.5v2c0.1,0.2,0.3,0.3,0.4,0.4c0.2,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.1,0.9-0.4
			s0.3-0.7,0.3-1.2c0-0.3,0-0.5-0.1-0.7c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.1-0.2-0.2-0.3-0.3S103.2,59.1,103.1,59.1z"></path>
                        <path class="letter" d="M107.4,58.6c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.6,0.4c0.2,0.2,0.3,0.4,0.4,0.7s0.1,0.5,0.1,0.9c0,0.3,0,0.6-0.1,0.9
			s-0.2,0.5-0.4,0.7c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.5,0.1-0.8,0.1c-0.3,0-0.6,0-0.8-0.1c-0.2-0.1-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7s-0.1-0.5-0.1-0.9c0-0.3,0-0.6,0.1-0.9s0.2-0.5,0.4-0.7c0.2-0.2,0.4-0.3,0.6-0.4
			C106.8,58.6,107.1,58.6,107.4,58.6z M107.4,62.2c0.4,0,0.7-0.1,0.9-0.4c0.2-0.3,0.3-0.6,0.3-1.1c0-0.5-0.1-0.9-0.3-1.1
			s-0.5-0.4-0.9-0.4c-0.2,0-0.4,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.2,0.3-0.2,0.5s-0.1,0.4-0.1,0.7s0,0.5,0.1,0.6
			c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.2,0.2,0.4,0.3C107,62.2,107.2,62.2,107.4,62.2z"></path>
                        <path class="letter" d="M110.2,62.7v-4.1h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.4c0.2-0.2,0.4-0.4,0.6-0.5c0.2-0.1,0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.3,0.2,0.4,0.3s0.2,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.6v2.6h-0.7v-2.6c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.4-0.3-0.6-0.3
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.4,0.2-0.5,0.4v3H110.2z"></path>
                        <path class="letter" d="M117,59.3c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.4,0
			c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0.1-0.2,0.1s-0.1,0.1-0.2,0.2c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.1,0.1,0.2,0.2
			c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.2,0.2,0.3
			s0.1,0.3,0.1,0.4c0,0.2,0,0.4-0.1,0.5c-0.1,0.2-0.2,0.3-0.3,0.4s-0.3,0.2-0.5,0.3c-0.2,0.1-0.4,0.1-0.7,0.1c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4l0.2-0.3c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
			c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.1s0.1-0.1,0.2-0.2c0-0.1,0.1-0.2,0.1-0.3
			c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.1s-0.3-0.1-0.4-0.1c-0.1,0-0.3-0.1-0.4-0.1
			c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.1-0.1-0.3-0.1-0.4c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.2-0.3,0.3-0.4
			c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.1,0.6-0.1c0.3,0,0.5,0,0.7,0.1s0.4,0.2,0.6,0.3L117,59.3z"></path>
                        <path class="letter" d="M119.8,58.6c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5s0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6
			s0.4-0.3,0.6-0.4C119.2,58.6,119.5,58.6,119.8,58.6z M119.8,59.1c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.4,0.8h2.2
			c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4s-0.2-0.2-0.3-0.2C120.1,59.1,120,59.1,119.8,59.1z"></path>
                        <path class="letter" d="M125.8,56.9c0.2,0,0.5,0,0.7,0.1c0.2,0.1,0.4,0.2,0.6,0.3s0.3,0.3,0.4,0.5s0.1,0.4,0.1,0.7c0,0.2,0,0.4-0.1,0.6
			c-0.1,0.2-0.2,0.4-0.3,0.5c-0.1,0.2-0.2,0.3-0.4,0.5c-0.1,0.2-0.3,0.3-0.5,0.5l-1.5,1.6c0.1,0,0.2-0.1,0.3-0.1s0.2,0,0.3,0h1.9
			c0.1,0,0.1,0,0.2,0.1s0.1,0.1,0.1,0.2v0.4h-3.9v-0.2c0-0.1,0-0.1,0-0.2c0-0.1,0.1-0.1,0.1-0.1l1.9-1.9c0.2-0.2,0.3-0.3,0.4-0.5
			c0.1-0.1,0.2-0.3,0.3-0.4c0.1-0.1,0.2-0.3,0.2-0.4c0-0.1,0.1-0.3,0.1-0.5c0-0.2,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3
			c-0.1-0.1-0.2-0.1-0.3-0.2s-0.3-0.1-0.4-0.1s-0.3,0-0.4,0.1c-0.1,0-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.2-0.2,0.3
			c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1c0,0,0,0,0,0s0,0-0.1,0l-0.4-0.1c0-0.3,0.1-0.5,0.2-0.7
			s0.2-0.4,0.4-0.5c0.2-0.1,0.4-0.2,0.6-0.3C125.3,56.9,125.6,56.9,125.8,56.9z"></path>
                    </g>
                    <g enable-background="new">
                        <path class="letter" d="M92.8,84.8v2.4H92v-5.8h1.6c0.4,0,0.7,0,0.9,0.1c0.3,0.1,0.5,0.2,0.7,0.3c0.2,0.1,0.3,0.3,0.4,0.5
			c0.1,0.2,0.1,0.4,0.1,0.7c0,0.2,0,0.4-0.1,0.6c-0.1,0.2-0.2,0.3-0.3,0.5c-0.1,0.1-0.3,0.3-0.4,0.4c-0.2,0.1-0.4,0.2-0.6,0.2
			c0.1,0.1,0.2,0.1,0.3,0.2l1.7,2.3h-0.7c-0.1,0-0.2-0.1-0.3-0.2l-1.5-2.1c0-0.1-0.1-0.1-0.1-0.1s-0.1,0-0.2,0H92.8z M92.8,84.2h0.8
			c0.2,0,0.4,0,0.6-0.1c0.2-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.3-0.4c0.1-0.1,0.1-0.3,0.1-0.5c0-0.3-0.1-0.6-0.3-0.8
			c-0.2-0.2-0.6-0.3-1-0.3h-0.9V84.2z"></path>
                        <path class="letter" d="M98.7,83c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.1,0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1s0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2s-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1s-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6s0.4-0.3,0.6-0.4
			C98.1,83.1,98.4,83,98.7,83z M98.7,83.6c-0.3,0-0.6,0.1-0.8,0.3s-0.3,0.5-0.4,0.8h2.2c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4
			s-0.2-0.2-0.3-0.2C99,83.6,98.8,83.6,98.7,83.6z M99.8,81.3l-0.9,1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0h-0.4l0.6-1
			c0-0.1,0.1-0.1,0.1-0.1c0,0,0.1,0,0.2,0H99.8z"></path>
                        <path class="letter" d="M101.3,88.6v-5.5h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.5c0.2-0.2,0.4-0.4,0.6-0.5s0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.4,0.2,0.5,0.4s0.2,0.4,0.3,0.7c0.1,0.3,0.1,0.6,0.1,0.9c0,0.3,0,0.6-0.1,0.8c-0.1,0.3-0.2,0.5-0.3,0.7
			c-0.2,0.2-0.3,0.3-0.6,0.4c-0.2,0.1-0.5,0.2-0.7,0.2c-0.3,0-0.5,0-0.6-0.1c-0.2-0.1-0.3-0.2-0.5-0.4v1.8H101.3z M103.1,83.6
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.5,0.5v2c0.1,0.2,0.3,0.3,0.4,0.4c0.2,0.1,0.3,0.1,0.5,0.1c0.4,0,0.7-0.1,0.9-0.4
			s0.3-0.7,0.3-1.2c0-0.3,0-0.5-0.1-0.7c0-0.2-0.1-0.3-0.2-0.5c-0.1-0.1-0.2-0.2-0.3-0.3S103.2,83.6,103.1,83.6z"></path>
                        <path class="letter" d="M107.4,83c0.3,0,0.6,0,0.8,0.1c0.2,0.1,0.4,0.2,0.6,0.4c0.2,0.2,0.3,0.4,0.4,0.7s0.1,0.5,0.1,0.9c0,0.3,0,0.6-0.1,0.9
			s-0.2,0.5-0.4,0.7c-0.2,0.2-0.4,0.3-0.6,0.4c-0.2,0.1-0.5,0.1-0.8,0.1c-0.3,0-0.6,0-0.8-0.1c-0.2-0.1-0.4-0.2-0.6-0.4
			c-0.2-0.2-0.3-0.4-0.4-0.7s-0.1-0.5-0.1-0.9c0-0.3,0-0.6,0.1-0.9s0.2-0.5,0.4-0.7c0.2-0.2,0.4-0.3,0.6-0.4
			C106.8,83.1,107.1,83,107.4,83z M107.4,86.7c0.4,0,0.7-0.1,0.9-0.4c0.2-0.3,0.3-0.6,0.3-1.1c0-0.5-0.1-0.9-0.3-1.1
			s-0.5-0.4-0.9-0.4c-0.2,0-0.4,0-0.5,0.1c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.1-0.2,0.3-0.2,0.5s-0.1,0.4-0.1,0.7s0,0.5,0.1,0.6
			c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.2,0.2,0.4,0.3C107,86.6,107.2,86.7,107.4,86.7z"></path>
                        <path class="letter" d="M110.2,87.2v-4.1h0.4c0.1,0,0.2,0,0.2,0.1l0.1,0.4c0.2-0.2,0.4-0.4,0.6-0.5c0.2-0.1,0.5-0.2,0.8-0.2c0.2,0,0.4,0,0.6,0.1
			c0.2,0.1,0.3,0.2,0.4,0.3s0.2,0.3,0.3,0.5c0.1,0.2,0.1,0.4,0.1,0.6v2.6h-0.7v-2.6c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.4-0.3-0.6-0.3
			c-0.2,0-0.4,0.1-0.6,0.2c-0.2,0.1-0.4,0.2-0.5,0.4v3H110.2z"></path>
                        <path class="letter" d="M117,83.8c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1,0c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.2,0-0.4,0
			c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0.1-0.2,0.1s-0.1,0.1-0.2,0.2c0,0.1-0.1,0.1-0.1,0.2c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.1,0.1,0.2,0.2
			c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0,0.3,0.1,0.4,0.1c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.2,0.2,0.3
			s0.1,0.3,0.1,0.4c0,0.2,0,0.4-0.1,0.5c-0.1,0.2-0.2,0.3-0.3,0.4s-0.3,0.2-0.5,0.3c-0.2,0.1-0.4,0.1-0.7,0.1c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4l0.2-0.3c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.2,0.1c0.1,0,0.1,0.1,0.2,0.1
			c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1c0.1,0,0.2-0.1,0.3-0.1s0.1-0.1,0.2-0.2c0-0.1,0.1-0.2,0.1-0.3
			c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.1-0.1-0.2-0.2c-0.1-0.1-0.2-0.1-0.3-0.1s-0.3-0.1-0.4-0.1c-0.1,0-0.3-0.1-0.4-0.1
			c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.1-0.2-0.2-0.2-0.3c-0.1-0.1-0.1-0.3-0.1-0.4c0-0.2,0-0.3,0.1-0.4c0.1-0.1,0.2-0.3,0.3-0.4
			c0.1-0.1,0.3-0.2,0.5-0.3c0.2-0.1,0.4-0.1,0.6-0.1c0.3,0,0.5,0,0.7,0.1s0.4,0.2,0.6,0.3L117,83.8z"></path>
                        <path class="letter" d="M119.8,83c0.2,0,0.5,0,0.7,0.1s0.4,0.2,0.5,0.4c0.2,0.2,0.3,0.3,0.4,0.6c0.1,0.2,0.1,0.5,0.1,0.8c0,0.1,0,0.2,0,0.2
			c0,0-0.1,0.1-0.1,0.1h-2.7c0,0.3,0,0.5,0.1,0.7c0.1,0.2,0.2,0.3,0.3,0.5s0.2,0.2,0.4,0.3c0.2,0.1,0.3,0.1,0.5,0.1
			c0.2,0,0.3,0,0.5-0.1c0.1,0,0.2-0.1,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.1,0.1l0.2,0.3
			c-0.1,0.1-0.2,0.2-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0.2c-0.1,0.1-0.3,0.1-0.4,0.1c-0.2,0-0.3,0-0.4,0c-0.3,0-0.5,0-0.8-0.1
			c-0.2-0.1-0.4-0.2-0.6-0.4c-0.2-0.2-0.3-0.4-0.4-0.7c-0.1-0.3-0.1-0.6-0.1-0.9c0-0.3,0-0.6,0.1-0.8c0.1-0.2,0.2-0.5,0.4-0.6
			s0.4-0.3,0.6-0.4C119.2,83.1,119.5,83,119.8,83z M119.8,83.6c-0.3,0-0.6,0.1-0.8,0.3c-0.2,0.2-0.3,0.5-0.4,0.8h2.2
			c0-0.2,0-0.3-0.1-0.5s-0.1-0.3-0.2-0.4s-0.2-0.2-0.3-0.2C120.1,83.6,120,83.6,119.8,83.6z"></path>
                        <path class="letter" d="M125.9,81.3c0.2,0,0.5,0,0.7,0.1c0.2,0.1,0.4,0.2,0.5,0.3s0.3,0.3,0.3,0.5s0.1,0.4,0.1,0.6c0,0.2,0,0.3-0.1,0.5
			c0,0.1-0.1,0.3-0.2,0.4c-0.1,0.1-0.2,0.2-0.3,0.3s-0.3,0.1-0.4,0.2c0.4,0.1,0.7,0.3,0.8,0.5s0.3,0.5,0.3,0.9c0,0.3,0,0.5-0.2,0.7
			c-0.1,0.2-0.2,0.4-0.4,0.5s-0.4,0.3-0.6,0.3s-0.5,0.1-0.7,0.1c-0.3,0-0.6,0-0.8-0.1c-0.2-0.1-0.4-0.2-0.6-0.3s-0.3-0.3-0.4-0.5
			c-0.1-0.2-0.2-0.4-0.2-0.6l0.3-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0,0.1,0c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0c0,0,0,0,0,0
			c0,0.1,0.1,0.2,0.1,0.3c0.1,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.2,0.3,0.2c0.1,0.1,0.3,0.1,0.5,0.1c0.2,0,0.4,0,0.5-0.1
			c0.2-0.1,0.3-0.2,0.4-0.3c0.1-0.1,0.2-0.2,0.2-0.4c0.1-0.1,0.1-0.3,0.1-0.4c0-0.2,0-0.3-0.1-0.4s-0.1-0.2-0.2-0.3
			c-0.1-0.1-0.3-0.2-0.5-0.2s-0.4-0.1-0.7-0.1v-0.5c0.2,0,0.5,0,0.6-0.1c0.2-0.1,0.3-0.1,0.4-0.2c0.1-0.1,0.2-0.2,0.2-0.3
			s0.1-0.3,0.1-0.4c0-0.2,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.1-0.3-0.2s-0.3-0.1-0.4-0.1c-0.1,0-0.3,0-0.4,0.1
			c-0.1,0-0.2,0.1-0.3,0.2c-0.1,0.1-0.2,0.2-0.2,0.3c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1,0.1-0.2,0.1
			c0,0,0,0,0,0s0,0,0,0L124,83c0-0.3,0.1-0.5,0.2-0.7c0.1-0.2,0.2-0.4,0.4-0.5c0.2-0.1,0.4-0.2,0.6-0.3
			C125.4,81.4,125.6,81.3,125.9,81.3z"></path>
                    </g>
                    <g>
                        <g>
                            <path stroke-width="0.25" stroke-miterlimit="10" d="M74.2,59.8c0.1,0.2,0.1,0.3,0.1,0.5
				c0,0.1,0,0.1,0,0.2c0.2,1.7-1.2,2.8-2.7,3.7c-0.7,0.4-1.4,0.8-1.9,1.1c-0.1,0.1-0.2,0.1-0.3,0.2c-2.9,1.8-5.7,3.7-8.7,5.3
				c-0.9,0.5-1.7,0.9-2.6,1.4c-0.7,0.4-1.5,0.6-2.1,1c-1.5,1-3.1,1.7-4.5,2.6c-1.7,1.1-3.3,2.4-4.9,3.5c-0.6,0.5-4.4,2.9-4.3,4.3
				c0.2-0.1,0.4-0.1,0.6,0c1,0.6,2.3,0,3.4-0.2c1.2-0.2,2.4-0.5,3.6-0.6c2.3-0.1,4.6-0.3,6.8-0.2c1.8,0.2,4.1,0.6,5,2.4
				c0.4,0.7,0.2,1.6,0,2.3c-0.1,0.8-0.1,1.1-0.8,1.5c-0.1,0.1-0.2,0.2-0.4,0.3c-0.1,0-0.1,0-0.2,0c-0.6,0.3-1.2,0.4-1.9,0.5
				c-0.1,0-0.2,0.1-0.3,0.1c-0.8,0.2-1.6,0.2-2.4,0.4c-1.8,0.3-3.7,0.5-5.4,1.1c-1.9,0.7-3.7,1.4-5.6,1.8c-1.8,0.4-3.7,0.6-5.5,1.2
				c-0.8,0.2-1.6,0.5-2.4,0.7c-0.9,0.2-1.9,0.2-2.7,0.4c-0.7,0.2-1.6-0.1-2.3,0c-0.5,0.1-1,0.1-1.6,0c-1,0.1-1.8,0-2.8-0.1
				s-2,0.1-2.9-0.2c-0.1,0-0.3-0.1-0.4-0.2c-0.1,0-0.3,0-0.4,0c0,0,0,0-0.1,0c-0.4,0-0.8,0.1-1.1,0.1c-0.4,0-1,0-1.4-0.1
				C21,95,21,95.2,20.9,95.3c-0.3,0.5-0.8,0.9-1.3,1.3c-0.4,0.3-0.7,0.5-1.1,0.7c-0.7,0.3-1.2,0.8-1.9,1.1c-0.7,0.3-1.3-0.6-0.8-1.1
				c0.4-0.5,1-0.8,1.6-1c0-0.1,0.1-0.2,0.2-0.2c0.5-0.4,1.3-0.6,1.7-1.1c0-0.1-0.1-0.2-0.1-0.2c0-0.1-0.1-0.2-0.1-0.3
				c-0.1-0.3,0-0.5,0.2-0.7c-0.3-1-0.5-2.3-1.1-3.1c-0.7-1-1.5-2.1-2.4-2.9c-0.8-0.7-1.6-1.4-2.1-2.3c-0.5-1-0.9-2.2-1.7-3.1
				c-0.8-0.8-1.2-1.7-1.8-2.6c-0.6-1-1.4-1.8-1.9-2.9c-0.3-0.6-0.5-1.2-0.9-1.4c-0.9,0.4-1.7,1.1-2.7,1.6c-0.4,0.2-0.8,0.4-1.3,0.6
				C3,78,2.3,77.9,1.7,78c-0.9,0.3-1.3-0.8-0.7-1.4c0.9-0.7,2.2-0.7,3.3-1.2C5,75,5.7,74.7,6.4,74.5C6.8,74.1,7.3,73.9,8,74
				c0.2,0,0.4,0.1,0.5,0.2c0.2-0.2,0.4-0.3,0.7-0.4l0.1-0.1c0-0.1,0.1-0.2,0.2-0.3c0.6-0.6,1.3-1.1,1.9-1.6c0.5-0.6,1.1-1.1,1.8-1.5
				c0.1,0,0.1-0.1,0.1-0.1c2.1-2,4.4-3.7,6.6-5.6c0,0,0,0,0,0.1c0.8-0.7,1.6-1.3,2.3-2c1.1-1,2.3-2.1,3.6-3c1-0.7,2.1-1.7,3.3-2.1
				c0.6-0.2,1.2-0.3,1.8-0.4c1-0.4,2.3-0.3,3.3-0.2c1.5,0.1,1.8,1.4,2.7,2.2c0.1,0,0.2-0.1,0.3,0c1,0.2,2.3,0.8,3.1,1.6
				c0.3,0.3,0.3,1,0.4,1.4c0.1,0.5,0.6,1.1,1,1.6c0.1,0,0.3,0,0.5,0.1c0.9,0.5,2.3,1,2.6,2.1c0.1,0.2,0.2,0.7,0.3,1.2
				c0.2,0.6,0.3,1.2,0.6,1.6c0.4,0.6,0.6,0.8,0.9,0.7c0.2,0,0.3,0,0.4,0.1c0.2-0.1,0.4-0.1,0.7-0.3c0.6-0.3,1.2-0.5,1.8-0.8
				c1-0.6,2.1-1.1,3.1-1.7c0.7-0.4,1.5-0.6,2.2-1s1.3-0.7,2-1.1c1.2-0.6,2.5-1.2,3.7-1.8c2.3-1,4.4-2.4,6.7-3.3
				c0.6-0.2,1.2-0.4,1.8-0.6c0.2-0.1,0.5-0.1,0.8-0.2C71.5,58.2,73.6,58,74.2,59.8"></path>
                            <circle stroke="#CF352D" stroke-miterlimit="10" cx="76.9" cy="35.9" r="7.1"></circle>
                            <path stroke="#CF352D" stroke-miterlimit="10" d="M71.7,64.2c1.3,1.4,3.1,2.3,5.2,2.3c3.9,0,7.1-3.2,7.1-7.1
				s-3.2-7.1-7.1-7.1c-3.6,0-6.6,2.7-7,6.2"></path>
                            <circle stroke="#CF352D" stroke-miterlimit="10" cx="76.9" cy="83.4" r="7.1"></circle>
                            <path stroke="#CF352D" opacity="0.5" stroke-miterlimit="10" enable-background="new" d="M69.5,65.5
				c1.8,2.2,4.4,3.5,7.4,3.5c5.3,0,9.6-4.3,9.6-9.6s-4.3-9.6-9.6-9.6c-5.3,0-9.5,4.2-9.6,9.5"></path>
                        </g>
                        <line x1="76.8" y1="61.1" x2="74.8" y2="59.3"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="76.2" y1="61.6" x2="74.2" y2="59.8"></line>
                        <line x1="80.2" y1="56.9" x2="76.8" y2="61.1"></line>
                        <line stroke-linecap="round" stroke-miterlimit="10" x1="79.6" y1="57.4" x2="76.2" y2="61.6"></line>
                    </g>
                </g>
            </svg>
        </div>
        <p>Prenez contrôle des actes et décisions du personnage en répondant au QCM</p>
    </div>
    <div class="slide4 hide">
        <h3><span class="top">- Remind Me -</span> Vivez la maladie d'Alzheimer</h3>
        <div class="icon">
            <a class="start" href="#">Démarrer</a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
                <circle stroke-width="0.3" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
                <polygon stroke-width="0.4" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64"></polygon>
            </svg>
        </div>
        <p>Cliquer pour commencer l'expérience</p>
    </div>
</section>

<nav class="nav-arrow">
    <div class="arrow-prev-floating">
        <div class="arrow prev hide"></div>
    </div>
    <div class="arrow-next-floating">
        <div class="arrow next hide"></div>
    </div>
</nav>

<div class="current-selector">
    <ul>
        <li class="bullet active"></li>
        <li class="bullet"></li>
        <li class="bullet"></li>
        <li class="bullet"></li>
    </ul>
</div>