<div class="content-centered">
    <svg class="logo-circle" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
        <circle stroke-width="0.2" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
        <circle stroke-width="0.2" stroke-miterlimit="10" cx="64.5" cy="64" r="36.3"></circle>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="90.3,89.8 64.7,100.4 39.1,89.8 28.5,64.1 39.1,38.5 64.7,28 90.3,38.6 100.9,64.2"></polygon>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="64.7,28 84.3,16.1 90.3,38.6 111.8,43.4 100.9,64.2 111.8,83.6 90.3,89.8 85.6,110.3 64.7,100.4 43.8,110.4 39.1,89.8 17.6,84.3 28.5,64.1 17.3,43.4 39.1,38.5 43.6,16.6"></polygon>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="17.3,43.4 19.2,19 43.6,16.6 64,0.5 84.3,16.1 108.3,18.5 111.8,43.4 127.5,64 111.8,83.6 109.2,108.6 85.6,110.3 64,127.5 43.8,110.4 17.9,107.6 17.6,84.3 0.5,64"></polygon>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="19.2" y1="19" x2="39.1" y2="38.5"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="64" y1="0.5" x2="64.5" y2="27.7"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="108.3" y1="18.5" x2="90.3" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="100.8" y1="64" x2="127.5" y2="64"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="90.3" y1="89.8" x2="109.2" y2="108.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="64.5" y1="100.3" x2="64" y2="127.5"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.9" y1="107.6" x2="39.1" y2="89.8"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="0.5" y1="64" x2="28.2" y2="64"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.3" y1="43.4" x2="5.8" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="43.6" y1="16.6" x2="39.1" y2="5.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="84.3" y1="16.1" x2="88.9" y2="5.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="111.8" y1="43.4" x2="122.2" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="111.8" y1="83.6" x2="122.2" y2="89.4"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="85.6" y1="110.3" x2="90.3" y2="121.8"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="43.8" y1="110.4" x2="39.1" y2="122.4"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.6" y1="84.3" x2="5.3" y2="88.2"></line>
    </svg>
    <ul class="icons">
        <li><i class="icon icon-headphones"></i></li>
        <li><i class="icon icon-fullscreen"></i></li>
    </ul>
    <p>L'utilisation d'un casque audio et du mode plein écran<br/>est recommandé pour profiter pleinement de cette expérience</p>
</div>
<div class="progress-bar"></div>