<div class="content-centered">
    <h1><span class="sitename">Remind Me,</span> Vivez l'expérience alzheimer</h1>
    <p>Immergez-vous à l'intérieur même des pensées d'une personne atteinte<br/> par la maladie d'Alzheimer. Comment réagirez-vous face au déclin<br/> progressif de vos facultés cognitive ?</p>
    <a class="btn btn-start-exp" href="#/experience/device"><span>Commencer l'expérience</span></a>
</div>



