{{!-- {{> header}} --}}

<h1>Remind Me,<br/> Vivez l'expérience alzheimer</h1>

<p>Immergez-vous à l'intérieur même des pensées d'une personne atteinte par la maladie d'Alzheimer. Comment réagirez-vous face au déclin progressif de vos facultés cognitive ?</p>

<a class="btn btn-start-exp" href="#/experience/device">Commencer l'expérience</a>

{{!-- {{> footer}} --}}
