<div class="content-centered">

    <div class="mobile">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="154.9 264.4 128 128">
            <path d="M250.1,264.9c2,0,3.6,1.6,3.6,3.6v119.9c0,1.9-1.7,3.6-3.6,3.6h-62.4c-2,0-3.6-1.6-3.6-3.6V268.5c0-2,1.6-3.6,3.6-3.6
            H250.1 M250.1,264.4h-62.4c-2.3,0-4.1,1.8-4.1,4.1v119.9c0,2.3,1.8,4.1,4.1,4.1h62.4c2.3,0,4.1-2,4.1-4.1V268.5
            C254.2,266.2,252.3,264.4,250.1,264.4L250.1,264.4z"></path>
            <path d="M249.1,271.6v99.5h-60.4v-99.5H249.1 M249.3,271.3h-60.9v100h60.9V271.3L249.3,271.3z"></path>
            <path d="M218.8,380.3c2,0,3.7,1.7,3.7,3.7s-1.7,3.7-3.7,3.7s-3.7-1.7-3.7-3.7S216.8,380.3,218.8,380.3 M218.8,379.8
            c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S221.1,379.8,218.8,379.8L218.8,379.8z"></path>
        </svg>
        <aside>
            <div class="qrcode"></div>
            <div class="separator"></div>
            <div class="code">CF34</div>
        </aside>
    </div>

    <div class="box">
        <h1><span class="top">Vous avez un smartphone</span> ou une tablette ?</h1>
        <p>Flashez notre QR Code</p>
        <p>Ou rendez-vous sur ce lien directement à partir de votre appareil mobile</p>
        <div class="link-url">http://remindme.fr/12DE</div>
    </div>
</div>
