//
// MAIN COLOR
//

// white
$color-white-10: rgba(255, 255, 255, 1);
$color-white-09: rgba(255, 255, 255, .9);
$color-white-08: rgba(255, 255, 255, .8);
$color-white-07: rgba(255, 255, 255, .7);
$color-white-06: rgba(255, 255, 255, .6);
$color-white-05: rgba(255, 255, 255, .5);
$color-white-04: rgba(255, 255, 255, .4);
$color-white-03: rgba(255, 255, 255, .3);
$color-white-02: rgba(255, 255, 255, .2);
$color-white-01: rgba(255, 255, 255, .1);

// black
$color-black-10: rgba(0, 0, 0, 1);
$color-black-09: rgba(0, 0, 0, .9);
$color-black-08: rgba(0, 0, 0, .8);
$color-black-07: rgba(0, 0, 0, .7);
$color-black-06: rgba(0, 0, 0, .6);
$color-black-05: rgba(0, 0, 0, .5);
$color-black-04: rgba(0, 0, 0, .4);
$color-black-03: rgba(0, 0, 0, .3);
$color-black-02: rgba(0, 0, 0, .2);
$color-black-01: rgba(0, 0, 0, .1);

// red
$color-red-10: rgba(204, 52, 44, 1);
$color-red-09: rgba(204, 52, 44, .9);
$color-red-08: rgba(204, 52, 44, .8);
$color-red-07: rgba(204, 52, 44, .7);
$color-red-06: rgba(204, 52, 44, .6);
$color-red-05: rgba(204, 52, 44, .5);
$color-red-04: rgba(204, 52, 44, .4);
$color-red-03: rgba(204, 52, 44, .3);
$color-red-02: rgba(204, 52, 44, .2);
$color-red-01: rgba(204, 52, 44, .1);

// dark blue
$color-darkblue-10: rgba(15, 12, 43, 1);
$color-darkblue-09: rgba(15, 12, 43, .9);
$color-darkblue-08: rgba(15, 12, 43, .8);
$color-darkblue-07: rgba(15, 12, 43, .7);
$color-darkblue-06: rgba(15, 12, 43, .6);
$color-darkblue-05: rgba(15, 12, 43, .5);
$color-darkblue-04: rgba(15, 12, 43, .4);
$color-darkblue-03: rgba(15, 12, 43, .3);
$color-darkblue-02: rgba(15, 12, 43, .2);
$color-darkblue-01: rgba(15, 12, 43, .1);



//
// ALZHEIMER STEPS COLORS
//

// step 1
$alzheimer-step1-10: rgba(242, 108, 79, 1);
$alzheimer-step1-09: rgba(242, 108, 79, .9);
$alzheimer-step1-08: rgba(242, 108, 79, .8);
$alzheimer-step1-07: rgba(242, 108, 79, .7);
$alzheimer-step1-06: rgba(242, 108, 79, .6);
$alzheimer-step1-05: rgba(242, 108, 79, .5);
$alzheimer-step1-04: rgba(242, 108, 79, .4);
$alzheimer-step1-03: rgba(242, 108, 79, .3);
$alzheimer-step1-02: rgba(242, 108, 79, .2);
$alzheimer-step1-01: rgba(242, 108, 79, .1);

// step 2
$alzheimer-step2-10: rgba(230, 72, 64, 1);
$alzheimer-step2-09: rgba(230, 72, 64, .9);
$alzheimer-step2-08: rgba(230, 72, 64, .8);
$alzheimer-step2-07: rgba(230, 72, 64, .7);
$alzheimer-step2-06: rgba(230, 72, 64, .6);
$alzheimer-step2-05: rgba(230, 72, 64, .5);
$alzheimer-step2-04: rgba(230, 72, 64, .4);
$alzheimer-step2-03: rgba(230, 72, 64, .3);
$alzheimer-step2-02: rgba(230, 72, 64, .2);
$alzheimer-step2-01: rgba(230, 72, 64, .1);

// step3
$alzheimer-step3-10: rgba(207, 53, 45, 1);
$alzheimer-step3-09: rgba(207, 53, 45, .9);
$alzheimer-step3-08: rgba(207, 53, 45, .8);
$alzheimer-step3-07: rgba(207, 53, 45, .7);
$alzheimer-step3-06: rgba(207, 53, 45, .6);
$alzheimer-step3-05: rgba(207, 53, 45, .5);
$alzheimer-step3-04: rgba(207, 53, 45, .4);
$alzheimer-step3-03: rgba(207, 53, 45, .3);
$alzheimer-step3-02: rgba(207, 53, 45, .2);
$alzheimer-step3-01: rgba(207, 53, 45, .1);

// step4
$alzheimer-step4-10: rgba(153, 44, 90, 1);
$alzheimer-step4-09: rgba(153, 44, 90, .9);
$alzheimer-step4-08: rgba(153, 44, 90, .8);
$alzheimer-step4-07: rgba(153, 44, 90, .7);
$alzheimer-step4-06: rgba(153, 44, 90, .6);
$alzheimer-step4-05: rgba(153, 44, 90, .5);
$alzheimer-step4-04: rgba(153, 44, 90, .4);
$alzheimer-step4-03: rgba(153, 44, 90, .3);
$alzheimer-step4-02: rgba(153, 44, 90, .2);
$alzheimer-step4-01: rgba(153, 44, 90, .1);

// step5
$alzheimer-step5-10: rgba(101, 32, 114, 1);
$alzheimer-step5-09: rgba(101, 32, 114, .9);
$alzheimer-step5-08: rgba(101, 32, 114, .8);
$alzheimer-step5-07: rgba(101, 32, 114, .7);
$alzheimer-step5-06: rgba(101, 32, 114, .6);
$alzheimer-step5-05: rgba(101, 32, 114, .5);
$alzheimer-step5-04: rgba(101, 32, 114, .4);
$alzheimer-step5-03: rgba(101, 32, 114, .3);
$alzheimer-step5-02: rgba(101, 32, 114, .2);
$alzheimer-step5-01: rgba(101, 32, 114, .1);

// step6
$alzheimer-step6-10: rgba(0, 74, 128, 1);
$alzheimer-step6-09: rgba(0, 74, 128, .9);
$alzheimer-step6-08: rgba(0, 74, 128, .8);
$alzheimer-step6-07: rgba(0, 74, 128, .7);
$alzheimer-step6-06: rgba(0, 74, 128, .6);
$alzheimer-step6-05: rgba(0, 74, 128, .5);
$alzheimer-step6-04: rgba(0, 74, 128, .4);
$alzheimer-step6-03: rgba(0, 74, 128, .3);
$alzheimer-step6-02: rgba(0, 74, 128, .2);
$alzheimer-step6-01: rgba(0, 74, 128, .1);

// step7
$alzheimer-step7-10: rgba(14, 100, 132, 1);
$alzheimer-step7-09: rgba(14, 100, 132, .9);
$alzheimer-step7-08: rgba(14, 100, 132, .8);
$alzheimer-step7-07: rgba(14, 100, 132, .7);
$alzheimer-step7-06: rgba(14, 100, 132, .6);
$alzheimer-step7-05: rgba(14, 100, 132, .5);
$alzheimer-step7-04: rgba(14, 100, 132, .4);
$alzheimer-step7-03: rgba(14, 100, 132, .3);
$alzheimer-step7-02: rgba(14, 100, 132, .2);
$alzheimer-step7-01: rgba(14, 100, 132, .1);
