//
// MAIN COLOR
//

// white
$color-white-10: rgba(255, 255, 255, 1);
$color-white-09: rgba(255, 255, 255, .9);
$color-white-08: rgba(255, 255, 255, .8);
$color-white-07: rgba(255, 255, 255, .7);
$color-white-06: rgba(255, 255, 255, .6);
$color-white-05: rgba(255, 255, 255, .5);
$color-white-04: rgba(255, 255, 255, .4);
$color-white-03: rgba(255, 255, 255, .3);
$color-white-02: rgba(255, 255, 255, .2);
$color-white-01: rgba(255, 255, 255, .1);

// black
$color-black-10: rgba(0, 0, 0, 1);
$color-black-09: rgba(0, 0, 0, .9);
$color-black-08: rgba(0, 0, 0, .8);
$color-black-07: rgba(0, 0, 0, .7);
$color-black-06: rgba(0, 0, 0, .6);
$color-black-05: rgba(0, 0, 0, .5);
$color-black-04: rgba(0, 0, 0, .4);
$color-black-03: rgba(0, 0, 0, .3);
$color-black-02: rgba(0, 0, 0, .2);
$color-black-01: rgba(0, 0, 0, .1);



//
// ALZHEIMER STEPS COLORS
//

// step 1
$alzheimer-step1-10: rgba(250, 76, 2, 1);
$alzheimer-step1-09: rgba(250, 76, 2, .9);
$alzheimer-step1-08: rgba(250, 76, 2, .8);
$alzheimer-step1-07: rgba(250, 76, 2, .7);
$alzheimer-step1-06: rgba(250, 76, 2, .6);
$alzheimer-step1-05: rgba(250, 76, 2, .5);
$alzheimer-step1-04: rgba(250, 76, 2, .4);
$alzheimer-step1-03: rgba(250, 76, 2, .3);
$alzheimer-step1-02: rgba(250, 76, 2, .2);
$alzheimer-step1-01: rgba(250, 76, 2, .1);

// step 2
$alzheimer-step2-10: rgba(255, 47, 5, 1);
$alzheimer-step2-09: rgba(255, 47, 5, .9);
$alzheimer-step2-08: rgba(255, 47, 5, .8);
$alzheimer-step2-07: rgba(255, 47, 5, .7);
$alzheimer-step2-06: rgba(255, 47, 5, .6);
$alzheimer-step2-05: rgba(255, 47, 5, .5);
$alzheimer-step2-04: rgba(255, 47, 5, .4);
$alzheimer-step2-03: rgba(255, 47, 5, .3);
$alzheimer-step2-02: rgba(255, 47, 5, .2);
$alzheimer-step2-01: rgba(255, 47, 5, .1);

// step3
$alzheimer-step3-10: rgba(208, 59, 69, 1);
$alzheimer-step3-09: rgba(208, 59, 69, .9);
$alzheimer-step3-08: rgba(208, 59, 69, .8);
$alzheimer-step3-07: rgba(208, 59, 69, .7);
$alzheimer-step3-06: rgba(208, 59, 69, .6);
$alzheimer-step3-05: rgba(208, 59, 69, .5);
$alzheimer-step3-04: rgba(208, 59, 69, .4);
$alzheimer-step3-03: rgba(208, 59, 69, .3);
$alzheimer-step3-02: rgba(208, 59, 69, .2);
$alzheimer-step3-01: rgba(208, 59, 69, .1);

// step4
$alzheimer-step4-10: rgba(136, 9, 83, 1);
$alzheimer-step4-09: rgba(136, 9, 83, .9);
$alzheimer-step4-08: rgba(136, 9, 83, .8);
$alzheimer-step4-07: rgba(136, 9, 83, .7);
$alzheimer-step4-06: rgba(136, 9, 83, .6);
$alzheimer-step4-05: rgba(136, 9, 83, .5);
$alzheimer-step4-04: rgba(136, 9, 83, .4);
$alzheimer-step4-03: rgba(136, 9, 83, .3);
$alzheimer-step4-02: rgba(136, 9, 83, .2);
$alzheimer-step4-01: rgba(136, 9, 83, .1);

// step5
$alzheimer-step5-10: rgba(123, 27, 167, 1);
$alzheimer-step5-09: rgba(123, 27, 167, .9);
$alzheimer-step5-08: rgba(123, 27, 167, .8);
$alzheimer-step5-07: rgba(123, 27, 167, .7);
$alzheimer-step5-06: rgba(123, 27, 167, .6);
$alzheimer-step5-05: rgba(123, 27, 167, .5);
$alzheimer-step5-04: rgba(123, 27, 167, .4);
$alzheimer-step5-03: rgba(123, 27, 167, .3);
$alzheimer-step5-02: rgba(123, 27, 167, .2);
$alzheimer-step5-01: rgba(123, 27, 167, .1);

// step6
$alzheimer-step6-10: rgba(71, 100, 162, 1);
$alzheimer-step6-09: rgba(71, 100, 162, .9);
$alzheimer-step6-08: rgba(71, 100, 162, .8);
$alzheimer-step6-07: rgba(71, 100, 162, .7);
$alzheimer-step6-06: rgba(71, 100, 162, .6);
$alzheimer-step6-05: rgba(71, 100, 162, .5);
$alzheimer-step6-04: rgba(71, 100, 162, .4);
$alzheimer-step6-03: rgba(71, 100, 162, .3);
$alzheimer-step6-02: rgba(71, 100, 162, .2);
$alzheimer-step6-01: rgba(71, 100, 162, .1);

// step7
$alzheimer-step7-10: rgba(14, 64, 174, 1);
$alzheimer-step7-09: rgba(14, 64, 174, .9);
$alzheimer-step7-08: rgba(14, 64, 174, .8);
$alzheimer-step7-07: rgba(14, 64, 174, .7);
$alzheimer-step7-06: rgba(14, 64, 174, .6);
$alzheimer-step7-05: rgba(14, 64, 174, .5);
$alzheimer-step7-04: rgba(14, 64, 174, .4);
$alzheimer-step7-03: rgba(14, 64, 174, .3);
$alzheimer-step7-02: rgba(14, 64, 174, .2);
$alzheimer-step7-01: rgba(14, 64, 174, .1);
