//
// ANTONIO
//
$font-antonio-bold: 'antoniobold', sans-serif;
$font-antonio-light: 'antoniolight', sans-serif;
$font-antonio-bold: 'antoniobold', sans-serif;
$font-antonio-regular: 'antonioregular', sans-serif;



//
// LATO
//
$font-lato-black: 'latoblack', sans-serif;
$font-lato-black-italic: 'latoblack_italic', sans-serif;
$font-lato-bold: 'latobold', sans-serif;
$font-lato-bold-italic: 'latobold_italic', sans-serif;
$font-lato-hairline: 'latohairline', sans-serif;
$font-lato-hairline-italic: 'latohairline_italic', sans-serif;
$font-lato-heavy: 'latoheavy', sans-serif;
$font-lato-heavy-italic: 'latoheavy_italic', sans-serif;
$font-lato-italic: 'latoitalic', sans-serif;
$font-lato-light: 'latolight', sans-serif;
$font-lato-light-italic: 'latolight_italic', sans-serif;
$font-lato-medium: 'latomedium', sans-serif;
$font-lato-medium-itlaic: 'latomedium_italic', sans-serif;
$font-lato-regular: 'latoregular', sans-serif;
$font-lato-semi-bold: 'latosemibold', sans-serif;
$font-lato-semi-bold-italic: 'latosemibold_italic', sans-serif;
$font-lato-thin: 'latothin', sans-serif;
$font-lato-thin-italic: 'latothin_italic', sans-serif;



//
// OTAMA
//
$font-otama-regular: 'otama.epregular', sans-serif;