<section class="social-post">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <circle stroke-width="0.2" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
        <polygon stroke-width="0.4" stroke-miterlimit="10" points="108.7,108.8 64,127.4 19.2,108.7 0.6,64 19.3,19.2 64,0.6 108.8,19.3 127.4,64"></polygon>
    </svg>

    <div class="webcam-box">
        <div class="webcam">
            <video class="webcam-video" muted autoplay></video>
        </div>
    </div>

</section>
