<section class="statistics">

    <h1><span class="top">Remind Me,</span> retours sur mon expérience</h1>

    <div class="timeline">
        <div class="container c1">
            <div class="step">
                <header>
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Le régime méditerranéen : consommation de poissons, de fruits, de légumes et d’huile d’olive, limite la progression de la maladie.</p>
                    </div>
                    <div class="image healthy-eating"></div>
                    <div class="info-right">
                        <p>Consommer du poisson 2 ou 3 fois par semaine diminue le déclin des facultés cognitives de <span class="number">47%</span></p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet active"></div>
                <footer>
                    <h3>Nourriture saine</h3>
                    <p>Repas équilibrés<br/> Privilégier un plat “fait maison”</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c2">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Un régime riche en graisse augmente les risques de démence et cause une dégénérescence du cerveau</p>
                    </div>
                    <div class="image malnutrition"></div>
                    <div class="info-right">
                        <p>Le diabète et l'hypertension artérielle sont liés à une diminution rapide des capacités cognitives</p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Malnutrition</h3>
                    <p>Repas déséquilibrés<br /> Nourriture grasse<br /> Surpoids</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c3">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Cinq sessions d'exercice tous les septs jours peuvent réduire le risque de maladie d'Alzheimer d'environ <span class="number">35%</span></p>
                    </div>
                    <div class="image sloth"></div>
                    <div class="info-right">
                        <p>Stimuler la mémoire, la logique ou la réflexion diminue les risques d’être atteint de la maladie de <span class="number">5%</span></p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Activités physiques et intellectuelles</h3>
                    <p>Avoir une vie active<br /> Faire du sport<br /> Faire travailler sa logique</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c4">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>L’inactivité physique augmente le risque de maladie d’Alzheimer de <span class="number">82%</span></p>
                    </div>
                    <div class="image sport"></div>
                    <div class="info-right">
                        <p>Stimuler la mémoire, la logique ou la réflexion diminue les risques d’être atteint de la maladie de <span class="number">5%</span></p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Pas d'activité physique et intellectuelles</h3>
                    <p>Rester devant sa télévision<br /> Vie sédentaire et passive</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c5">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Avoir une vie sociale active retarde l’apparition des premiers symptômes et leur sévérité</p>
                    </div>
                    <div class="image socially-active"></div>
                    <div class="info-right">
                        <p><span class="number">50%</span> des malades d'Alzheimer souffriront de dépression. Être actif socialement diminue ce risque</p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Vie sociale active</h3>
                    <p>Sortir entre amis<br /> Entretenir les liens familiaux</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c6">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Avoir une vie sociale active retarde l’apparition des premiers symptômes et leur sévérité</p>
                    </div>
                    <div class="image loneliness"></div>
                    <div class="info-right">
                        <p><span class="number">50%</span> des malades d'Alzheimer souffriront de dépression. L’isolement aggrave ce risque</p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Vie solitaire</h3>
                    <p>Replis sur soi<br /> Refus de lien amical ou social</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c7">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Consommer 400 mg de caféine par jour réduirait les effets de la maladie sur les neurones</p>
                    </div>
                    <div class="image right-moves"></div>
                    <div class="info-right">
                        <p>Un faible taux de vitamine D augmente le risque de développer la maladie d’Alzheimer de <span class="number">53%</span> </p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Les bon gestes</h3>
                    <p>Prendre le soleil<br /> Boire du café<br /> Limiter la viande</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c8">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Boire et fumer de manière excessive cause une atteinte prématurée de la maladie de 3 à 7ans.</p>
                    </div>
                    <div class="image cigarette"></div>
                    <div class="info-right">
                        <p>Fumer après l'âge de 65 ans augmente les chances d'être atteint de la maladie d'Alzheimer de <span class="number">79%</span></p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Les mauvaises habitudes</h3>
                    <p>Fumer / Trop d'alcool<br /> Trop de viande rouge</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c9">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p>Une apnée obstructive du sommeil non soignée avance l'apparition des premiers signes de perte de mémoire de 13 ans</p>
                    </div>
                    <div class="image stress"></div>
                    <div class="info-right">
                        <p><span class="number">73%</span> des patients ont vécu un stress majeur dans les trois ans précédant le diagnostic de la maladie</p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Hygiène de vie</h3>
                    <p>Importance du sommeil<br /> Stress quotidien</p>
                </footer>
            </div>
            <div class="line"></div>
        </div>
        <div class="container c10">
            <div class="step">
                <header class="hidden">
                    <div class="info-left">
                        <div class="number"></div>
                        <p><span class="number">20%</span> des personnes sont déclarées atteintes par la maladie entre 80 et 84 ans</p>
                    </div>
                    <div class="image socio-type"></div>
                    <div class="info-right">
                        <p>Après 75 ans, le risque de maladie d'Alzheimer devient plus élevé chez les femmes de <span class="number">66%</span></p>
                        <div class="number"></div>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer class="hidden">
                    <h3>Sociotype</h3>
                    <p>Le sexe et l'age facteurs de la maladie</p>
                </footer>
            </div>
        </div>
    </div>

</section>

{{> notification}}


