<div class="content-centered">
    <svg id="load-svg" class="logo-circle" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
        <circle stroke-width="0.2" stroke-miterlimit="10" cx="64" cy="64" r="63.5"></circle>
        <circle stroke-width="0.2" stroke-miterlimit="10" cx="64.5" cy="64" r="36.3"></circle>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="90.3,89.8 64.7,100.4 39.1,89.8 28.5,64.1 39.1,38.5 64.7,28 90.3,38.6 100.9,64.2"></polygon>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="64.7,28 84.3,16.1 90.3,38.6 111.8,43.4 100.9,64.2 111.8,83.6 90.3,89.8 85.6,110.3 64.7,100.4 43.8,110.4 39.1,89.8 17.6,84.3 28.5,64.1 17.3,43.4 39.1,38.5 43.6,16.6"></polygon>
        <polygon stroke-width="0.2" stroke-miterlimit="10" points="17.3,43.4 19.2,19 43.6,16.6 64,0.5 84.3,16.1 108.3,18.5 111.8,43.4 127.5,64 111.8,83.6 109.2,108.6 85.6,110.3 64,127.5 43.8,110.4 17.9,107.6 17.6,84.3 0.5,64"></polygon>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="19.2" y1="19" x2="39.1" y2="38.5"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="64" y1="0.5" x2="64.5" y2="27.7"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="108.3" y1="18.5" x2="90.3" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="100.8" y1="64" x2="127.5" y2="64"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="90.3" y1="89.8" x2="109.2" y2="108.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="64.5" y1="100.3" x2="64" y2="127.5"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.9" y1="107.6" x2="39.1" y2="89.8"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="0.5" y1="64" x2="28.2" y2="64"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.3" y1="43.4" x2="5.8" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="43.6" y1="16.6" x2="39.1" y2="5.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="84.3" y1="16.1" x2="88.9" y2="5.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="111.8" y1="43.4" x2="122.2" y2="38.6"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="111.8" y1="83.6" x2="122.2" y2="89.4"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="85.6" y1="110.3" x2="90.3" y2="121.8"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="43.8" y1="110.4" x2="39.1" y2="122.4"></line>
        <line stroke-width="0.2" stroke-miterlimit="10" x1="17.6" y1="84.3" x2="5.3" y2="88.2"></line>
    </svg>
    <svg class="logo-m" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <path d="M76.6,82.4c0,0.4,0.1,0.6,0.2,0.6c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0.1,0.4,0.1,0.6,0.1s0.4,0,0.6,0v0.7h-4.3v-0.7h0.7
		c0.3,0,0.4-0.1,0.4-0.3s0-0.4,0.1-0.5V46C75,45.9,75,45.8,75,45.6c0-0.2-0.1-0.3-0.4-0.3h-0.7l-9.3,25.3l3.8,8.8
		c0.4,0,0.5,0.1,0.5,0.4c0,0.4-0.2,0.6-0.5,0.6s-0.5-0.2-0.5-0.6v-0.1l-14-10.8c-0.1,0.1-0.3,0.1-0.6,0c-0.1-0.1-0.2-0.2-0.2-0.3
		c0-0.1,0-0.3,0.1-0.4s0.2-0.2,0.3-0.2c0.1-0.1,0.3,0,0.4,0c0.1,0.1,0.2,0.3,0.2,0.6l13.9,11l-16-34.8c-0.1,0.1-0.2,0.1-0.3,0.1
		c0,0-0.1,0-0.2,0.1c-0.1,0-0.1,0-0.1,0.1s0,0.1,0,0.2v37.6c0,0.2,0.2,0.3,0.6,0.3c0.1,0,0.2,0,0.2,0s0.1,0,0.2,0l0.1,0.1v0.6h-2.7
		v-0.6c0.1-0.1,0.2-0.1,0.4-0.1c0.2,0,0.4,0,0.5-0.1c0.1,0,0.1,0,0.1-0.1s0-0.1,0-0.2V45.2c0-0.2-0.2-0.3-0.5-0.3
		c-0.2,0-0.4,0-0.5-0.1c-0.1,0-0.1,0-0.1-0.1v-0.6H53l11.2,25.5l9.6-25.1h4.5v0.6c-0.2,0-0.4,0-0.6-0.1s-0.4,0-0.6,0.1
		c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.3-0.2,0.4-0.2,0.7V82.4z M63.8,55.5c0.1-0.3,0.4-0.4,0.7-0.3c0.2,0.3,0.3,0.5,0.1,0.7
		c-0.1,0.2-0.2,0.3-0.3,0.3c-0.1,0-0.3,0-0.4-0.1s-0.2-0.2-0.2-0.3S63.7,55.6,63.8,55.5z"></path>
        <path fill="none" d="M-148.6,56.9c0,0.4,0.1,0.6,0.2,0.6c0.1,0.1,0.2,0.1,0.3,0.1c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.4,0,0.6,0v0.7
		h-4.3v-0.7h0.7c0.3,0,0.4-0.1,0.4-0.3s0-0.4,0.1-0.5V20.5c-0.1-0.1-0.1-0.2-0.1-0.4s-0.1-0.3-0.4-0.3h-0.7l-9.3,25.3l3.8,8.8
		c0.4,0,0.5,0.1,0.5,0.4c0,0.4-0.2,0.6-0.5,0.6c-0.3,0-0.5-0.2-0.5-0.6v-0.1l-14-10.8c-0.1,0.1-0.3,0.1-0.6,0
		c-0.1-0.1-0.2-0.2-0.2-0.3c0-0.1,0-0.3,0.1-0.4c0.1-0.1,0.2-0.2,0.3-0.2c0.1-0.1,0.3,0,0.4,0c0.1,0.1,0.2,0.3,0.2,0.6l13.9,11
		l-16-34.8c-0.1,0.1-0.2,0.1-0.3,0.1c0,0-0.1,0-0.2,0.1c-0.1,0-0.1,0-0.1,0.1s0,0.1,0,0.2v37.6c0,0.2,0.2,0.3,0.6,0.3
		c0.1,0,0.2,0,0.2,0s0.1,0,0.2,0l0.1,0.1v0.6h-2.7v-0.6c0.1-0.1,0.2-0.1,0.4-0.1s0.4,0,0.5-0.1c0.1,0,0.1,0,0.1-0.1s0-0.1,0-0.2
		V19.7c0-0.2-0.2-0.3-0.5-0.3c-0.2,0-0.4,0-0.5-0.1c-0.1,0-0.1,0-0.1-0.1v-0.6h3.2l11.2,25.5l9.6-25.1h4.5v0.6c-0.2,0-0.4,0-0.6-0.1
		c-0.2-0.1-0.4,0-0.6,0.1c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1,0.3-0.2,0.4-0.2,0.7V56.9z M-161.4,30c0.1-0.3,0.4-0.4,0.7-0.3
		c0.2,0.3,0.3,0.5,0.1,0.7c-0.1,0.2-0.2,0.3-0.3,0.3c-0.1,0-0.3,0-0.4-0.1s-0.2-0.2-0.2-0.3S-161.5,30.1-161.4,30z"></path>
    </svg>
    <div class="notification-mobile">
        <svg class="phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
            <path class="phone-border" d="M87.4,1.8H40.6c-6.6,0-12,5.4-12,12v100.5c0,6.6,5.4,12,12,12h46.9c6.6,0,12-5.4,12-12V13.8C99.4,7.2,94,1.8,87.4,1.8z
        M91.8,100.9H36.2V10h55.6V100.9z M64,119c-2.9,0-5.3-2.3-5.3-5.3s2.3-5.3,5.3-5.3s5.3,2.3,5.3,5.3S66.9,119,64,119z"></path>
            <path d="M36.1,9.9V101h55.8V9.9H36.1z M91.8,100.9H36.2V10h55.6V100.9z"></path>
        </svg>
    </div>
    <p>En attente du lancement de l'expérience à partir de votre mobile.</p>
</div>
