<section class="statistics">

    <h1><span class="top">Remind Me,</span> retours sur mon expérience</h1>

    <div class="timeline">
        <div class="container c1">
            <div class="step">
                <div class="bullet done"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="100" class="line"></div>
        </div>
        <div class="container c2">
            <div class="step">
                <div class="bullet done"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="100" class="line"></div>
        </div>
        <div class="container c3">
            <div class="step">
                <div class="bullet done"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="100" class="line"></div>
        </div>
        <div class="container c4">
            <div class="step">
                <div class="bullet done"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="100" class="line"></div>
        </div>
        <div class="container c5">
            <div class="step">
                <div class="bullet active"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="34" class="line"></div>
        </div>
        <div class="container c6">
            <div class="step">
                <div class="bullet"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="0" class="line"></div>
        </div>
        <div class="container c7">
            <div class="step">
                <div class="bullet"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="34" class="line"></div>
        </div>
        <div class="container c8">
            <div class="step">
                <header>
                    <div class="info-left">
                        <div class="number">21%</div>
                        <p>Lire de manière régulière  stimule la mémoire et réduis l’action de la maladie de</p>
                    </div>
                    <div class="image"></div>
                    <div class="info-right">
                        <div class="number">13%</div>
                        <p>Lire de manière régulière  stimule la mémoire et réduis l’action de la maladie de</p>
                    </div>
                </header>
                <div class="bullet"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
            <div data-progress="34" class="line"></div>
        </div>
        <div class="container c9">
            <div class="step">
                <div class="bullet"></div>
                <footer>
                    <h3>Lire un livre</h3>
                    <p>Pratiquer une activité intellectuelle régulière<br/>
                        Travailler dans un milieu stimulant et tester sa logique</p>
                </footer>
            </div>
        </div>
    </div>

</section>
