.gui-footer {
    width: 100%;
    @include absolute(bottom 0);
    z-index: 900;

    nav {
        margin: 0 7vh;
        opacity: 1;
        transition: opacity 1s linear;

        &.hidden {
            opacity: 0;
        }

        ul {
            li {
                color: $color-white-02;
                display: inline-block;

                a {
                    color: $color-white-02;
                    text-decoration: none;
                    transition: color .5s ease-in-out;

                    &.active,
                    &:hover {
                        color: $color-white-10;
                    }
                }

                &:first-child {
                    margin: 0 10px 2vh 0;
                }

                &:last-child {
                    margin: 0 0 2vh 10px;
                }
            }
        }
    }

    .gui-controls {
        @include absolute(bottom 2vh right 7vh);
        opacity: 1;
        transition: opacity 1s linear;

        &.hidden {
            opacity: 0;
        }

        .button {
            @include size(4vh); // 40 px
            position: relative;
            display: inline-block;
            margin: 0 0.7vh; // 7px
            @include border-radius(50%);
            border: 0.15vh solid $color-white-02;
            cursor: pointer;
            transition: border .5s ease-in-out;

            &:last-child {
                margin: 0 0 0 0.7vh;
            }

            &:hover {
                border: 0.15vh solid $color-white-10;

                .icon {
                    color: $color-white-10;
                }
            }

            .icon {
                @include size(4vh); // 40px
                position: absolute;
                color: $color-white-02;
                font-size: 2vh; // 18px
                line-height: 4.3vh;
                text-align: center;
                transition: color .5s ease-in-out;
            }
        }
    }
}
