html,
body {
    @include size(100%);
    position: relative;
    overflow: hidden;
}

body {
    @include font-smoothing;
    box-sizing: border-box;
    font: 1.4vh $font-lato-regular; // 14px
    color: $color-white-10;
    background: rgba(6, 5, 20, 1);
    z-index: -101;
}

main {
    @include size(100%);
    position: absolute;

    .page {
        @include size(100%);
        position: absolute;
        z-index: 1;
        opacity: 0;
        background-size: cover;

        &.is-hidden {
            animation: fadeout 0.5s ease-out;
        }

        &.is-visible {
            animation: fadein 1.5s ease-out 0.7s both;
        }
    }
}

.bg-video {
    @include size(auto);
    @include fixed(top 50% left 50%);
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    animation: fadein 1.5s linear both;
    z-index: -100;

    &.is-visible {
        animation: fadein 1.5s linear 0s both;
    }

    &.is-hidden {
        animation: fadeout 0.1s ease-out;
    }
}

.color-filter {
    @include size(auto);
    min-width: 100%;
    min-height: 100%;
    background: $color-black-02;
    z-index: -90;
}

.bg-triangle {
    @include size(auto);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: url('../img/bg/mobile-triangle.png')no-repeat center center fixed;
    background-size: cover;
    z-index: 2;

    &.hide {
        display: none;
    }
}