<section class="navigation">
    <nav>
        <div class="arrow prev"></div>
        <div class="arrow next"></div>
    </nav>
    <div class="circle-menu">
        <div class="circle c1">
            <div class="arc a1"></div>
        </div>
        <div class="circle c2">
            <div class="arc a1"></div>
        </div>
        <div class="circle c3">
            <div class="arc a1"></div>
            <div class="arc a2"></div>
        </div>
        <div class="circle c4">
            <div class="arc a1"></div>
        </div>
        <!--<div class="circle infos"></div>-->
    </div>
</section>
