<section class="notification">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="203.5 339.4 128 128">
        <path d="M299,339.6c1.7,0,3.4,0.7,4.7,2c1.2,1.2,1.9,2.9,1.9,4.6v114.4c-0.3,3.9-3.2,6.8-6.8,6.8H236c-1.7,0-3.4-0.7-4.7-2
            c-1.2-1.2-1.9-2.9-1.9-4.6V346.1c0-1.7,0.7-3.4,2-4.7c1.2-1.2,2.9-1.9,4.6-1.9H299 M299,339.4h-63c-3.5,0-6.7,2.9-6.7,6.7v114.6
            c0,3.5,2.9,6.7,6.7,6.7h62.7c3.8,0,6.7-3.1,7-6.9V346.1C305.7,342.6,302.8,339.4,299,339.4L299,339.4z"></path>
        <path d="M297.2,353.4v100.2h-59.4V353.4H297.2 M297.3,353.2h-59.6v100.4h59.6V353.2L297.3,353.2z"></path>
        <path d="M261.7,448.6c2.2,0,4,1.8,4,4s-1.8,4-4,4c-2.2,0-4-1.8-4-4S259.5,448.6,261.7,448.6 M261.7,448.5c-2.3,0-4.1,1.8-4.1,4.1
            s1.8,4.1,4.1,4.1c2.3,0,4.1-1.8,4.1-4.1S264,448.5,261.7,448.5L261.7,448.5z"></path>
    </svg>
</section>
