<section class="notification action">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <path class="phone-border" d="M87.4,1.8H40.6c-6.6,0-12,5.4-12,12v100.5c0,6.6,5.4,12,12,12h46.9c6.6,0,12-5.4,12-12V13.8C99.4,7.2,94,1.8,87.4,1.8z
        M91.8,100.9H36.2V10h55.6V100.9z M64,119c-2.9,0-5.3-2.3-5.3-5.3s2.3-5.3,5.3-5.3s5.3,2.3,5.3,5.3S66.9,119,64,119z"></path>
        <path d="M36.1,9.9V101h55.8V9.9H36.1z M91.8,100.9H36.2V10h55.6V100.9z"></path>
    </svg>
    <div class="error"></div>
</section>
